/* CSS VARIABLES */
:root {
  /* Font Family */
  --font-body: "Inter", sans-serif;
  --font-header: "Oswald", sans-serif;

  /* Font sizes */
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.5rem;
  --fs-xl: 3rem;
  --fs-xxl: 4rem;

  /* Colors */
  --clr-primary: #2e3a59; /* Slate Blue */
  --clr-accent: #f2c94c; /* Golden Yellow */
  --clr-bg: #f7f7f7; /* Light Gray Background */
  --clr-surface: #ffffff; /* White Cards/Sections */
  --clr-text: #333333; /* Deep Gray Text */
  --clr-text-light: #9e9e9e; /* Soft Gray Text */

  /* Spacing */
  --sp-xxs: 4px;
  --sp-xs: 8px;
  --sp-sm: 12px;
  --sp-md: 16px;
  --sp-lg: 24px;
  --sp-xl: 32px;
  --sp-xxl: 48px;

  /* Border Radius */
  --radius-none: 0;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;
  --radius-xl: 24px;
  --radius-round: 50%;
  --radius-pill: 9999px;

  /* Shadow */
  --box-shadow-md: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* CSS RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(http://www.transparenttextures.com/patterns/cartographer.png);
  color: var(--clr-text);
}

img {
  width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

p,
span,
textarea {
  line-height: 1.5;
}

a {
  position: relative;
  text-decoration: none;
  color: var(--clr-text);
  z-index: 1;
}

a::before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 10px;
  width: 100%;
  height: 30%;
  background-color: var(--clr-accent);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

a:hover::before {
  height: 100%;
  left: 0;
  bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
}

h1 {
  font-size: var(--fs-xxl);
}

/* Global Styles */
.line {
  width: 100%;
  border-bottom: 2px solid var(--clr-primary);
  opacity: 0.3;
}

/* Manual Styles */
/* Container Start */
.container {
  max-width: 1400px;
  /* background: red; */
  margin-inline: auto;
  margin-block: var(--sp-xxl);
}
/* Container End */

/* Main Header Start */
.main-header {
  background-color: var(--clr-surface);
  border-radius: var(--radius-xl);
  padding: var(--sp-xxl);
  box-shadow: var(--box-shadow-md);
}

.header-title {
  margin-bottom: var(--sp-xl);
}

.hero-wrapper {
  display: flex;
  gap: var(--sp-xxl);
}

.hero-wrapper > * {
  flex: 1 0;
}

.info > .line {
  margin-block: var(--sp-md);
}

.hero-img {
  width: 50%;
  height: 600px;
  object-fit: cover;
  object-position: center;
  border-radius: var(--radius-lg);
  border: 5px solid var(--clr-accent);
}
/* Main Header End */

/* Word Wrapper Start */
.work-wrapper {
  margin-top: var(--sp-xxl);
  display: flex;
  gap: var(--sp-xl);
  /* background: green; */
}

.work-wrapper > h2 {
  font-size: var(--fs-xl);
  letter-spacing: 4px;
  text-transform: uppercase;
  writing-mode: sideways-lr;
}

.work-wrapper .card-wrapper {
  display: flex;
  gap: var(--sp-xl);
}

.work-wrapper .card-wrapper > .card {
  width: 400px;
  padding: var(--sp-lg);
  background: var(--clr-surface);
  border-radius: var(--radius-md);
  box-shadow: var(--box-shadow-md);
}

.work-wrapper .card-wrapper > .card > .line {
  margin-top: var(--sp-md);
}

.work-wrapper .card-wrapper > .card h3 {
  font-size: var(--fs-lg);
}

.work-wrapper .card-wrapper > .card ul {
  list-style: disc;
  margin-left: 20px;
  margin-top: var(--sp-md);
}

.work-wrapper .card-wrapper > .card ul li {
  margin-top: var(--sp-xs);
}

.work-wrapper .card-wrapper > .card > .info {
  margin-top: var(--sp-sm);
}

.work-img {
  width: 430px;
  height: 420px;
  object-fit: cover;
  object-position: bottom;
  scale: -1 1;
  border-radius: var(--radius-md);
  transition: all 0.3s ease-in-out;
}

/* Word Wrapper End */

.line.out {
  margin-top: var(--sp-xxl);
}

.skills-lang-wrapper {
  display: flex;
  margin-block: var(--sp-xxl);
}

.skills-lang-wrapper > div h2 {
  font-size: var(--fs-xl);
}

.skills-lang-wrapper > * {
  flex: 1 1;
}

.skills-lang-wrapper > div > ul {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: start;
  gap: var(--sp-xs);
  margin-top: var(--sp-sm);
}

.skills-lang-wrapper > div > ul > li {
  padding: var(--sp-xs) var(--sp-sm);
  display: inline;
  background: var(--clr-accent);
  border-radius: var(--radius-pill);
  transition: all 0.1s ease-in-out;
}

.skills-lang-wrapper > div > ul > li:hover {
  scale: 1.1;
}

/* Projects Wrapper Start */
.projects-wrapper {
  background: var(--clr-surface);
  box-shadow: var(--box-shadow-md);
  padding: var(--sp-xxl);
  border-radius: var(--radius-xl);
}

.projects-wrapper h2 {
  font-size: var(--fs-xl);
}

.projects-wrapper .card-wrapper {
  display: flex;
  gap: var(--sp-xl);
  margin-top: var(--sp-lg);
}

.projects-wrapper .card {
  flex: 1 1;
  padding: var(--sp-xl);
  border-radius: var(--radius-lg);
  box-shadow: var(--box-shadow-md);
  color: white;
}

.projects-wrapper .card > h3 {
  font-size: var(--fs-lg);
  margin-bottom: var(--sp-md);
}

.projects-wrapper .card1 {
  background: linear-gradient(rgb(46, 58, 89, 0.8), rgb(46, 58, 89, 0.8)),
    url(https://6amcity.brightspotcdn.com/dims4/default/36f0ef7/2147483647/strip/false/crop/2048x1365+0+0/resize/1486x990!/quality/90/?url=https%3A%2F%2Fk1-prod-sixam-city.s3.us-east-2.amazonaws.com%2Fbrightspot%2F94%2F86%2F4cb8a86244919c4a096deb67b938%2Fsdusd-education-offices.jpg)
      no-repeat center;
  background-size: cover;
}

.projects-wrapper .card2 {
  background: linear-gradient(rgb(46, 58, 89, 0.8), rgb(46, 58, 89, 0.8)),
    url(https://www.millerchemical.com/wp-content/uploads/2023/11/Miller-Blog-Farm-Innovations.jpg)
      no-repeat center;
  background-size: cover;
}

/* Projects Wrapper End */

/* References Wrapper Start */
.references-wrapper {
  text-align: center;
  background: var(--clr-primary);
  color: white;
  margin-top: var(--sp-xxl);
  border-radius: var(--radius-xl);
  padding: var(--sp-xl);
  box-shadow: var(--box-shadow-md);
}

.references-wrapper h2 {
  font-size: var(--fs-lg);
  margin-bottom: var(--sp-lg);
}

.references-wrapper p {
  font-size: var(--clr-text);
  opacity: 0.7;
}

/* References Wrapper End */
